{% load static %}

{% url 'post' as post %}
{% url 'type' as type %}
{% url 'tag' as tag %}
{% url 'evenement' as evenement %}
{% url 'inscriptionlist' as inscriptions %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Solartec - Renewable Energy Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static "lib/animate/animate.min.css" %} " rel="stylesheet">
    <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
    <link href="{% static "lib/lightbox/css/lightbox.min.css" %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid px-1 d-none d-lg-block">
        <div class="row gx-3">
            <div class="col-lg-4 text-center ">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-geo-alt fs-4 text-primary me-3"></i>
                    <div class="text-start">
                        <!--<h6 class="text-uppercase fw-bold">Our Office</h6>-->
                        <span>PK 10, route de Porto-Novo, Université HOUDEGBE</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center border-start border-end">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-envelope-open fs-4 text-primary me-3"></i>
                    <div class="text-start">
                        <!--<h6 class="text-uppercase fw-bold">Email Us</h6>-->
                        <span>info@jembenin.com</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ">
                <div class="d-inline-flex align-items-center">
                    <i class="bi bi-phone-vibrate fs-4 text-primary me-3"></i>
                    <div class="text-start">
                       <!-- <h6 class="text-uppercase fw-bold">Call Us</h6>-->
                        <span>+229 90 51 68 13 / 55 22 76 76</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
        <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
            <a href="{% url 'index' %}" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white"><i class="fa fa-church text-primary me-2"></i>JEM BENIN</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    {% if user.is_authenticated %}
                        <a href="{% url 'post' %}" class="nav-item nav-link {% if request.path == post %} active{% endif %}">Article</a>
                        <a href="{% url 'type' %}" class="nav-item nav-link {% if request.path == type %} active{% endif %}">Type</a>
                        <a href="{% url 'tag' %}" class="nav-item nav-link {% if request.path == tag %} active{% endif %}">Tag</a>
                        <a href="{% url 'evenement' %}" class="nav-item nav-link {% if request.path == evenement %} active{% endif %}">Evenement</a>
                        <a href="{% url 'inscriptionlist' %}" class="nav-item nav-link {% if request.path == inscriptions %} active{% endif %}">Les inscriptions</a>
                    {% endif %}
                    <a href="{% url 'accounts.logout' %}" class="nav-item nav-link">{% if user.is_authenticated %}Deconnexion {% else %} Connexion{% endif %}</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    
    {% block content %}
        
    {% endblock content %}

    <!-- Footer Start -->
    <div class="footer container-fluid position-relative bg-dark bg-light-radial text-white-50 py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-6 pe-lg-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 display-4 text-uppercase text-white"><i class="fa fa-church text-primary me-2"></i>JEM BENIN</h1>
                </a>
                <p>Comme une biche soupire après les courants
                    d’eau, ainsi mon âme soupire après Toi Ô Dieu !
                    Mon âme a soif de Dieu, du Dieu vivant : quand
                    irai-je et paraitrai-je devant la face de Dieu ? <br>
                    (Psaumes 42 : 2-3)
                </p><br>
                <p><i class="fa fa-map-marker-alt me-2"></i>PK 10, route de Porto-Novo, Université HOUDEGBE</p>
                <p><i class="fa fa-phone-alt me-2"></i>+229 90 51 68 13 / 55 22 76 76</p>
                <p><i class="fa fa-envelope me-2"></i>info@jembenin.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <!--<a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i class="fab fa-twitter"></i></a>-->
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="https://www.facebook.com/groups/169061500410950/"><i class="fab fa-facebook-f"></i></a>
                   <!--<a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
                    <!--<a class="btn btn-lg btn-primary btn-lg-square rounded-0" href="#"><i class="fab fa-instagram"></i></a>-->
                </div>
            </div>
            <div class="col-lg-6 ps-lg-5">
                <div class="row g-5">
                    <div class="col-sm-6">
                        <h4 class="text-white text-uppercase mb-4">Liens rapides</h4>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white-50 mb-2" href="{% url 'post' %}"><i class="fa fa-angle-right me-2"></i>Article</a>
                            <a class="text-white-50 mb-2" href="{% url 'type' %}"><i class="fa fa-angle-right me-2"></i>Type</a>
                            <a class="text-white-50 mb-2" href="{% url 'tag' %}"><i class="fa fa-angle-right me-2"></i>Tag</a>
                            <a class="text-white-50 mb-2" href="{% url 'evenement' %}"><i class="fa fa-angle-right me-2"></i>Evénements</a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-white text-uppercase mb-4">Newsletter</h4>
                        <div class="w-100">
                            <p>Inscrivez-vous à notre newsletter pour être au courant des nouvelles de notre organisation</p>
                            <div class="input-group">
                                <input type="text" class="form-control border-light" style="padding: 20px 30px;" placeholder="Votre adresse Email"><button class="btn btn-primary px-4">S'abonner</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark bg-light-radial text-white border-top border-primary px-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="py-4 px-5 text-center text-md-start" style="margin-left: auto; margin-right: auto;">
                <!--<p class="mb-0">&copy; <a class="text-primary" href="#">JAMBENIN</a>. All Rights Reserved.</p>-->
            </div>
            <div class="py-4 px-5 bg-primary footer-shape position-relative text-center text-md-end">
                <p class="mb-0">&copy; <a class="text-dark" href="{% url 'index' %}">JEM BENIN</a> Tous droits réservés</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
 <!-- ckEditor Script -->
    <script type="text/javascript" src="{% static "staticfiles/ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "staticfiles/ckeditor/ckeditor/ckeditor.js" %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
        