{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header-activity py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Activités</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Accueil</a>
        </li>
        <li class="breadcrumb-item text-white active" aria-current="page">
          Activités
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- Projects Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h6 class="text-primary">Activités</h6>
      <h1 class="mb-4">Nos Activités</h1>
    </div>
    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
      <div class="col-12 text-center">
        <ul class="list-inline mb-5" id="portfolio-flters">
          <li class="mx-2 active" data-filter="*">Tous</li>
          <li class="mx-2" data-filter=".first">Autonomisation</li>
          <li class="mx-2" data-filter=".second">Transformation</li>
          <li class="mx-2" data-filter=".third">Femmes rurales</li>
        </ul>
      </div>
    </div>
    <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static '/img/image2.jpg'%}" alt="" />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="{% static '/img/image2.jpg'%}"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">
            Mise en œuvre du programme Renforcer l’autonomisation des femmes
            rurales...
          </p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We Are pioneers of solar & renewable energy industry
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static '/img/image3.jpg'%}" alt="" />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="{% static '/img/image3.jpg'%}"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">
            Célébration de la journée mondiale de l’alimentation
          </p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We Are pioneers of solar & renewable energy industry
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item third">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static '/img/image4.jpg'%}" alt="" />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="{% static '/img/image4.jpg'%}"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">
            Célébration de la journée internationale de la femme rurale
          </p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We Are pioneers of solar & renewable energy industry
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static '/img/image1.jpg'%}" />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="{% static '/img/image1.jpg'%}"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">
            Mise en œuvre du programme d'implication dans la transformation des
            produits agricoles
          </p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We Are pioneers of solar & renewable energy industry
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static '/img/image2.jpg'%}" />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="{% static '/img/image2.jpg'%}"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Wind Turbines</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We Are pioneers of solar & renewable energy industry
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item third">
        <div class="portfolio-img rounded overflow-hidden">
          <img class="img-fluid" src="{% static "img/img-600x400-1.jpg"%}"
          alt="">
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="img/img-600x400-1.jpg"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Hydropower Plants</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We Are pioneers of solar & renewable energy industry
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Projects End -->
{% endblock %}
