{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header-about py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">A propos</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Accueil</a>
        </li>
        <li class="breadcrumb-item text-white active" aria-current="page">
          A propos
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container about px-lg-0" style="min-height: 1000px !important">
    <div class="row g-0 mx-lg-0">
      <div
        class="col-lg-6 ps-lg-0 wow fadeIn"
        data-wow-delay="0.1s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="{% static '/img/image5.jpg' %}"
            style="background-size: cover; min-height: 100vh"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <h4 class="text-primary">Qui Sommes-nous?</h4>
          <h1 class="mb-4">
            Farmer Help Project (FHP) est une association, à but non lucratif
            créée par des jeunes agronomes en 2019
          </h1>
          <p>
            <b>Farmer Help Project</b> participe au combat contre l’insécurité
            alimentaire et nutritionnelle ainsi qu’à l’amélioration des
            conditions de vie et de santé des agriculteurs dans une volonté
            d’agir et de s’impliquer dans les activités du monde rural au Bénin.
          </p>
          <h2><i class="fa fa-check-circle text-primary me-3"></i>Vision</h2>
          <p>
            <b>Farmer Help Project</b> (FHP) envisage devenir, d’ici 2030 un
            acteur de référence au niveau national et sous-régional dans la
            lutte pour l’atteinte de la sécurité alimentaire et nutritionnelle.
          </p>
          <h2><i class="fa fa-check-circle text-primary me-3"></i>Objectifs</h2>
          <ul class="list-group">
            <li class="">
              Rédiger et mettre en œuvre des projets participatifs, multi
              acteurs pour le développement des chaînes de valeurs agricoles.
            </li>
            <li class="">
              Faire le plaidoyer pour la promotion des femmes rurales actives
              dans la transformation des produits agricoles.
            </li>
            <li class="">
              Transférer les technologies innovantes mises au point par la
              recherche aux différents acteurs.
            </li>
            <li class="">
              Outiller les agriculteurs pour la sauvegarde de la biodiversité et
              des écosystèmes naturels.
            </li>
            <li class="">
              Renforcer les capacités des acteurs du monde rural dans la gestion
              des pertes post récolte.
            </li>
            <li class="">
              Œuvrer pour l'existence d'une alimentation adéquate du nourrisson
              et du jeune enfant dans les ménages ruraux.
            </li>
            <li class="">
              Contribuer à la disponibilité et à la diversification alimentaire
              dans les ménages ruraux.
            </li>
            <li class="">
              Faire des séances d'Information Education Communication (IEC) aux
              femmes sur l'alimentation de la femme enceinte et de la femme
              allaitante.
            </li>
            <li class="">
              Initier des programmes d'éducation de la jeune fille sur sa vie
              future en tant que femme enceinte et allaitante.
            </li>
          </ul>
          <a
            href="{% url 'contact' %}"
            class="btn btn-primary rounded-pill py-3 px-5 mt-3"
            >Nous contactez</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-users text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">3453</h1>
        </div>
        <h5 class="mb-3">Happy Customers</h5>
        <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-check text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">4234</h1>
        </div>
        <h5 class="mb-3">Project Done</h5>
        <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-award text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">3123</h1>
        </div>
        <h5 class="mb-3">Awards Win</h5>
        <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-users-cog text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">1831</h1>
        </div>
        <h5 class="mb-3">Expert Workers</h5>
        <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
      </div>
    </div>
  </div>
</div>
<!-- Feature Start -->
<!-- About End -->
<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-4">Notre Equipes</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static "img/team-1.jpg"%}"
            alt="">
            <!-- <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div> -->
          </div>
          <div class="p-4">
            <h5>Full Name</h5>
            <span>Designation</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static "img/team-2.jpg"%}"
            alt="">
            <!-- <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div> -->
          </div>
          <div class="p-4">
            <h5>Full Name</h5>
            <span>Designation</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded overflow-hidden">
          <div class="d-flex">
            <img class="img-fluid w-75" src="{% static "img/team-3.jpg"%}"
            alt="">
            <!-- <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div> -->
          </div>
          <div class="p-4">
            <h5>Full Name</h5>
            <span>Designation</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-4">Avis des personnes</h1>
    </div>
    <div
      class="owl-carousel testimonial-carousel wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="testimonial-item text-center">
        <div class="testimonial-img position-relative">
          <img class="img-fluid rounded-circle mx-auto mb-5" src="{% static
          "img/testimonial-1.jpg"%}">
          <div class="btn-square bg-primary rounded-circle">
            <i class="fa fa-quote-left text-white"></i>
          </div>
        </div>
        <div class="testimonial-text text-center rounded p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1">Client Name</h5>
          <span class="fst-italic">Profession</span>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <div class="testimonial-img position-relative">
          <img class="img-fluid rounded-circle mx-auto mb-5" src="{% static
          "img/testimonial-2.jpg"%}">
          <div class="btn-square bg-primary rounded-circle">
            <i class="fa fa-quote-left text-white"></i>
          </div>
        </div>
        <div class="testimonial-text text-center rounded p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1">Client Name</h5>
          <span class="fst-italic">Profession</span>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <div class="testimonial-img position-relative">
          <img class="img-fluid rounded-circle mx-auto mb-5" src="{% static
          "img/testimonial-3.jpg"%}">
          <div class="btn-square bg-primary rounded-circle">
            <i class="fa fa-quote-left text-white"></i>
          </div>
        </div>
        <div class="testimonial-text text-center rounded p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1">Client Name</h5>
          <span class="fst-italic">Profession</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
