{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Quote Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container quote px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div
        class="col-lg-6 ps-lg-0 wow fadeIn"
        data-wow-delay="0.1s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="{% static '/img/image7.jpg'%}"
            style="background-size: cover"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <h6 class="text-primary">Contatez-nous</h6>
          <h1 class="mb-4">
            Vous avez un projet ? Nous sommes là pour vous aider
          </h1>

          <form>
            <div class="row g-4">
              <div class="col-12 col-sm-12">
                <input
                  type="text"
                  class="form-control border-0"
                  placeholder="Votre nom ou celui de votre compagnie/entreprise"
                  style="height: 55px"
                />
              </div>
              <div class="col-12 col-sm-12">
                <input
                  type="email"
                  class="form-control border-0"
                  placeholder="Votre email"
                  style="height: 55px"
                />
              </div>
              <div class="col-12 col-sm-12">
                <input
                  type="text"
                  class="form-control border-0"
                  placeholder="Votre contact"
                  style="height: 55px"
                />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control border-0"
                  placeholder="Parlez-nous de votre projet dès maintenant"
                  rows="6"
                ></textarea>
              </div>
              <div class="col-12">
                <button
                  class="btn btn-primary rounded-pill py-3 px-5"
                  type="submit"
                >
                  Envoyez
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Quote End -->
{% endblock %}
